<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.eclipse.visualvm.launcher.java.VisualVMJavaDelegate"
            delegateDescription="The VisualVM Launcher supports running and debugging local Java applications and initiating their monitoring in VisualVM"
            id="org.eclipse.visualvm.launch.java"
            modes="run,debug"
            name="VisualVM"
            sourceLocatorId="org.eclipse.visualvm.launch.core.java.sourceLocator"
            sourcePathComputerId="org.eclipse.visualvm.launch.core.java.sourcePathComputer"
            type="org.eclipse.jdt.launching.localJavaApplication">
      </launchDelegate>
      <launchDelegate
            delegate="org.eclipse.visualvm.launcher.java.VisualVMAppletDelegate"
            delegateDescription="The VisualVM Launcher supports running and debugging applets and initiating their monitoring in VisualVM"
            id="org.eclipse.visualvm.launch.applet"
            modes="run,debug"
            name="VisualVM"
            sourceLocatorId="org.eclipse.visualvm.launch.core.applet.sourceLocator"
            sourcePathComputerId="org.eclipse.visualvm.launch.core.applet.sourcePathComputer"
            type="org.eclipse.jdt.launching.javaApplet">
      </launchDelegate>
      <launchDelegate
            delegate="org.eclipse.visualvm.launcher.java.VisualVMJUnitDelegate"
            delegateDescription="The VisualVM Launcher supports running and debugging JUnit tests and initiating their monitoring in VisualVM"
            id="org.eclipse.visualvm.launch.junit"
            modes="run,debug"
            name="VisualVM"
            sourceLocatorId="org.eclipse.visualvm.launch.core.junit.sourceLocator"
            sourcePathComputerId="org.eclipse.visualvm.launch.core.junit.sourcePathComputer"
            type="org.eclipse.jdt.junit.launchconfig">
      </launchDelegate>
   </extension>

</plugin>
