<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.eclipse.visualvm.launcher.pde.VisualVMPDEDelegate"
            delegateDescription="The VisualVM Launcher supports running and debugging PDE applications and initiating their monitoring in VisualVM"
            id="org.eclipse.visualvm.launcher.pde"
            modes="run,debug"
            name="VisualVM"
            sourceLocatorId="org.eclipse.visualvm.launch.core.pde.sourceLocator"
            sourcePathComputerId="org.eclipse.visualvm.launch.core.pde.sourcePathComputer"
            type="org.eclipse.pde.ui.RuntimeWorkbench">
      </launchDelegate>
      <launchDelegate
            delegate="org.eclipse.visualvm.launcher.pde.VisualVMJUnitPluginDelegate"
            delegateDescription="The VisualVM Launcher supports running and debugging JUnit tests and initiating their monitoring in VisualVM"
            id="org.eclipse.visualvm.launch.junitplugin"
            modes="run,debug"
            name="VisualVM"
            sourceLocatorId="org.eclipse.visualvm.launch.core.junitplugin.sourceLocator"
            sourcePathComputerId="org.eclipse.visualvm.launch.core.junitplugin.sourcePathComputer"
            type="org.eclipse.pde.ui.JunitLaunchConfig">
      </launchDelegate>
   </extension>

</plugin>
